nav {
  display: flex;
  justify-content: center;

}

.navbar {
  height: 80px;
  padding: 0;
  width: 100%;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.imagem {
  background-color: white;
  height: 80px;
  width: 50px;
}
