#product-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 150px;
  margin: 10px;
  background-color: white;
  padding: 15px;
}

img {
  width: 100px;
  height: 100px;
}

#quantity-input {
  text-align: center;
  width: 10px;
}
